@charset "UTF-8";
/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет текста контактов 
в подвале rgba(255, 255, 255, 0.6) */
/* акцентированный цвет #2196F3 */
/* акцентированный белый и фон хедер #FFFFFF */
/* bgc основной #E5E5E5 */
/* bgc вторичный #F5F4FA */
/* bgc footer #2F303A*/
/* ПЕРЕМЕННЫЕ */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc: #e5e5e5;
  --secondary-bgc: #f5f4fa;
  --bgc-accent-white: #ffffff;
  --bgc-footer: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* СБРОС СТИЛЕЙ */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

/* ОБЩИЕ СТИЛИ */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* СКРЫТЫЕ ЗАГОЛОВКИ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header-page {
  background-color: var(--bgc-accent-white);
}

.header-page > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-page {
  display: block;
  margin-right: 86px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.header-page .logo-part {
  color: var(--secondary-text-color);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list > li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.current {
  position: relative;
}

.current:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* ПОДСЕКЦИЯ ОБРАТНАЯ СВЯЗЬ HEADER*/
.feedback-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.feedback-list.top > li:first-child {
  margin-right: 50px;
}

.feedback-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.feedback-header > svg {
  margin-right: 10px;
}

.feedback-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.envelope-icon {
  width: 16px;
  height: 11px;
}

.mobile-icon {
  width: 10px;
  height: 15px;
}

.feedback-header:hover,
.feedback-header:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* FOOTER */
.footer-page {
  color: var(--bgc-accent-white);
  background-color: var(--bgc-footer);
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 48px;
  padding-bottom: 28px;
}

/* ПОДСЕКЦИЯ ОБРАТНАЯ СВЯЗЬ FOOTER*/
.feedback-info {
  margin-right: 69px;
}

/* логотип */
.feedback-info > .logo-page {
  margin-bottom: 10px;
}

.footer-page .logo-part {
  color: var(--bgc-accent-white);
}

/* адрес */
.adress {
  margin-bottom: 9px;
}

/* телефон и почта */
.feedback-list.bottom {
  display: block;
}

.feedback-list.bottom > li:first-child {
  margin-bottom: 9px;
}

.feedback-footer {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.feedback-footer:hover,
.feedback-footer:focus {
  color: var(--accent-color);
}

/* ПОДСЕКЦИЯ ПРИСОЕДИНЯЙТЕСЬ */
.join-in {
  min-width: 206px;
}

.invite {
  margin-bottom: 21px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--bgc-accent-white);
}

/* СОЦИАЛЬНЫЕ СЕТИ */
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--bgc-accent-white);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

/* ПОДПИСКИ */
.subscribe {
  margin-left: auto;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form .subscribe-input + .subscribe-btn {
  margin-left: 12px;
}

.subscribe-input {
  min-width: 358px;
  padding: 18px 12px;
  background-color: var(--bgc-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  outline: none;
}

.subscribe-input:focus {
  border: 1px solid var(--accent-color);
}

.subscribe-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--bgc-accent-white);
  border-radius: 4px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.subscribe-img {
  margin-left: 10px;
  fill: var(--bgc-accent-white);
}

/*СЕКЦИЯ КОПИРАЙТ */
.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  text-align: center;
  font-size: 12px;
  line-height: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
}

/* ОБЩИЕ CТИЛИ СЕКЦИЙ */
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
}

/* СЕКЦИЯ ГЕРОЙ */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/header-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-img.jpg);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 1200px;
  margin: 0 auto;
  padding: 200px 0;
}

.hero-title {
  display: inline-block;
  max-width: 646px;
  margin-bottom: 46px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bgc-accent-white);
}

.order-btn {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--bgc-accent-white);
  border-radius: 4px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* СЕКЦИЯ НАВЫКИ */
.skils-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skils-item:not(:last-child) {
  margin-right: 30px;
}

.skils-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bgc);
}

.skils-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* СЕКЦИЯ - ЧЕМ МЫ ЗАНИМАЕМСЯ */
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-item {
  margin-right: 30px;
  width: 370px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.services-thumb {
  position: relative;
}

/* 
.services-img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
} */
.services-desc {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  /* border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; */
  color: var(--bgc-accent-white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* СЕКЦИЯ НАША КОМАНДА */
.our-team {
  background-color: var(--secondary-bgc);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-card {
  background-color: var(--bgc-accent-white);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.team-card > img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.team-content {
  padding-left: 35px;
  padding-top: 30px;
  padding-right: 35px;
  padding-bottom: 24px;
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
}

.profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* социальные сети */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--bgc-accent-white);
}

/* СЕКЦИЯ ПОСТОЯННЫЕ КЛИЕНТЫ */
.customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  padding: 25px 0;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.logo-customer {
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.customer:hover,
.customer:focus {
  border-color: var(--accent-color);
}

.customer:hover .logo-customer,
.customer:focus .logo-customer {
  fill: var(--accent-color);
}

.logo1 {
  width: 44.27px;
  height: 49.23px;
}

.logo2 {
  width: 44px;
  height: 49px;
}

.logo3 {
  width: 41px;
  height: 42.6px;
}

.logo4 {
  width: 79.66px;
  height: 42.02px;
}

.logo5 {
  width: 59px;
  height: 47px;
}

.logo6 {
  width: 88.48px;
  height: 45.44px;
}

/* НАВИГАЦИЯ РАБОT СТУДИИ */
.nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.nav-btn > li:not(:last-child) {
  margin-right: 8px;
}

.btn {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bgc);
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--bgc-accent-white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* СПИСОК РАБОТ СТУДИИ */
.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-item {
  margin-bottom: 30px;
  overflow: hidden;
  background: var(--bgc-accent-white);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-item:hover,
.card-item:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.thumb {
  position: relative;
  overflow: hidden;
}

/* 
.card-item > img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
} */
.card-description {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--bgc-accent-white);
  background-color: rgba(33, 150, 243, 0.9);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.card-item:hover .thumb .card-description,
.card-item:focus .thumb .card-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.card-info {
  padding: 20px 24px;
}

.card-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-text-color);
}

.card-product {
  font-size: 16px;
  line-height: 1.9;
}

/* МОДАЛЬНОЕ ОКНО */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 528px;
  padding: 40px;
  background-color: var(--bgc-accent-white);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: var(--bgc-accent-white);
  cursor: pointer;
  -webkit-transition: fill 5s var(--timing-function);
  transition: fill 5s var(--timing-function);
}

.close-btn-icon {
  fill: #000000;
  -webkit-transition: fill 5s var(--timing-function);
  transition: fill 5s var(--timing-function);
}

.modal-close-btn:hover > .close-btn-icon {
  fill: var(--accent-color);
}

.modal-heading {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--secondary-text-color);
}

.modal-label {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.modal-input {
  width: 100%;
  padding: 12px 16px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.label-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.label-name {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.modal-label:focus-within > .modal-input {
  border: 1px solid var(--accent-color);
}

.modal-label:focus-within > .label-name {
  -webkit-transform: translate(-22px, -40px);
          transform: translate(-22px, -40px);
  color: var(--accent-color);
}

.modal-input:not(:placeholder-shown) ~ .label-name {
  -webkit-transform: translate(-22px, -40px);
          transform: translate(-22px, -40px);
}

.modal-label:focus-within > .label-icon {
  fill: var(--accent-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.textarea-name {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.modal-label:focus-within > .modal-textarea {
  border: 1px solid var(--accent-color);
}

.modal-label:focus-within > .textarea-name {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  color: var(--accent-color);
}

.modal-textarea:not(:placeholder-shown) ~ .textarea-name {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
}

.modal-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.agreement-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-check {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 9px;
  background-origin: border-box;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 2px solid;
  border-color: var(--secondary-text-color);
  border-radius: 2px;
  -webkit-transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.agreement-check:checked + .custom-check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.conditions {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-btn {
  margin: 0 auto;
  padding-left: 54px;
  padding-right: 54px;
}
/*# sourceMappingURL=main.css.map */